<!DOCTYPE html>

<html lang="ru">

<head>

    <meta charset="UTF-8">
	
    <title>Поиск</title>
	
</head>

<body>

<p><h2>Введите запрос: </h2></p>

<form action='/results'>

		<label>Родной язык: <input type="text" name="language"> </label><br>
		
		<label>Образование: <br>
		
		<input type="radio" name="education" value="school">Неполное среднее<br>
		
		<input type="radio" name="education" value="graduate">Среднее<br>
		
		<input type="radio" name="education" value="bachelor">Высшее<br>
		
		</label><br>
		
		<input type="submit" value="Поиск">

	</form>
	
</body>

</html>
